/*  your css code here. If applicable */
#outer{
	background-color: #f5f5f5;
	padding: 20px;
		
}
.box{
	background-color:white;
	border:1px solid black;
	padding:10px;
	height:65px
}
.para2{
	text-align:right;
	font-style:italic;
}
